.obsidian
/Interview Life
/.tmp.driveupload
/Pending TASK
.Pending TASK
.Pending TASK.md
./Pending TASK.md
.Pending TASK.md
/Pending TASK.md
.Pending.md
./Pending.md
/Pending.md
./Pending.md
/Pending.md
.Pending.md
.vs
./vs
/.vs
.tmp.driveupload
/.tmp.driveupload
./.tmp.driveupload
