.obsidian
/Interview Life
/.tmp.driveupload
/Pending TASK
.Pending TASK
.Pending TASK.md
./Pending TASK.md
.Pending TASK.md
/Pending TASK.md
.Pending.md
./Pending.md
/Pending.md
./Pending.md
/Pending.md
.Pending.md